<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>


<h2>Faculty Submission Status</h2>

<!-- Search box -->
<center>
    <form id="searchForm">

        <label for="search">Search:</label>
        <input type="text" id="search" name="search" placeholder="search with the value of any of the column">
        <button type="button" id="button" onclick="searchdata()">Search</button>
        <br><br>
    </form>
</center>
<table id="table">

    <thead>
    <tr>
        <th> Course Name</th>
        <th>Faculty Email</th>
        <th>Course Code</th>
        <th>Faculty Name</th>
        <th>Status</th>
        <th>Download File</th>
    </tr>
    </thead>
    <form action="/delete" method="post">


    <tbody id="userTableBody">
    {{#if qus}}
        {{#each qus}}
            <input name="id" hidden type="text"  value="{{this._id}}">

            <tr>
                <td>{{this.courseName}}</td>
                <td>{{this.email}}</td>
                <td>{{this.courseCode}}</td>
                <td>{{this.facultyName}}</td>
                <td>{{this.Status}}</td>
                <td><a href="/uploads/{{this.file}}" download>Download</a></td>
                <td> <input type="submit" class="change" value="delete"></td>
            </tr>
        {{/each}}
    {{else}}
        <tr>
            <td colspan="6">No user data available</td>
        </tr>
    {{/if}}
    </tbody>
    </form>
</table>

<script>
    function searchdata() {
        const searchQuery = document.getElementById('search').value.toLowerCase();
        const rows = document.querySelectorAll('#userTableBody tr');

        rows.forEach(row => {
            let found = false;
            const cells = row.querySelectorAll('td'); // Select all td elements within each row
            cells.forEach(cell => {
                if (cell.textContent.toLowerCase().includes(searchQuery)) { // Check text content of each cell
                    found = true;
                }
            });
            if (found) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    }
</script>

</body>
</html>